.btn {
  height: 42px;
  font-size: 16px;
  border: 0;
  outline: 0;
}

.btn-block {
  width: 100%;
}

.btn-red {
  background-color: #e23542;
  color: white;
}

.btn-link {
  background-color: transparent;
}

button{
  &:disabled{
    opacity: 0.3;
    cursor: not-allowed;
  }
}