@import "./abstracts/variables";
@import "./abstracts/mixins";
@import "./base/typography";

.date {
    display: flex;
    flex-direction: column;
    padding: 35px;

    .right {
        width: 100%;
        margin-top: 40px;
        margin-bottom: 40px;

        &__title {
            display: flex;
            margin-bottom: 15px;

            &.icon {
                margin-right: 10px;
                background-color: red;
            }
        }

        &__subtitle {
            margin-bottom: 15px;
        }

        &__ticket {
            .item {
                border: 1px solid black;
                width: 100%;
                padding: 15px 20px;
                margin-bottom: 15px;

                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }

    .left {
        width: 100%;

        &__title {
            margin-bottom: 15px;
        }

        .picture {
            width: 100%;
            object-fit: cover;
            height: 100%;
            object-fit: contain;
        }

        .about {
            &__title {
                margin-bottom: 15px;
            }
            &__paragraph {
                margin-bottom: 15px;
            }
        }

        .slider {
            .picture {
                width: 100%;
                object-fit: cover;
            }
        }

        .video {
            .picture {
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

.spaces {
    margin-bottom: 40px;
    .stage {
        text-align: center;
        padding: 10px;
        border: 1px solid #c6c6c6;
        margin-bottom: 30px;
    }
    .rows {
        .row {
            margin-bottom: 10px;
        }
    }
    .cols {
        display: flex;
    }
}

.buttons {
    margin-bottom: 30px;
    .sectionAButtons,
    .sectionBButtons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .details {
            span {
                display: block;
            }
        }
        .details,
        .input {
            width: 50%;
            flex-shrink: 0;
        }
        .input {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            button {
                width: 42px;
                height: 42px;
                border-radius: 42px;
                outline: 0;
                border: 0;
                font-size: 25px;
            }
            span {
                margin: 0 20px;
            }
        }
    }
    .sectionAButtons {
        margin-bottom: 20px;
    }
}

.subTotal {
}

.card {
    margin-bottom: 30px;
    background-color: white;
    padding: 10px;
    height: 42px;
    font-size: 16px;
    border: 2px solid #d9d9d9;
    border-radius: 5px;
}
