@import "./components/Buttons.module.scss";
@import "./abstracts/variables";
@import "./abstracts/mixins";
@import "./base/typography";

.date {
    display: flex;
    flex-direction: column;
    padding: 35px;

    .right {
        width: 100%;
        margin-top: 40px;
        margin-bottom: 40px;

        &__title {
            display: flex;
            margin-bottom: 15px;

            &.icon {
                margin-right: 10px;
                background-color: red;
            }
        }

        &__subtitle {
            margin-bottom: 15px;
        }

        &__ticket {
            .item {
                border: 1px solid $black;
                width: 100%;
                padding: 15px 20px;
                margin-bottom: 15px;

                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }

    .left {
        width: 100%;

        &__title {
            margin-bottom: 15px;
        }

        &__front {
            .picture {
                width: 100%;
                object-fit: cover;
            }
        }

        .about {
            &__title {
                margin-bottom: 15px;
            }
            &__paragraph {
                margin-bottom: 15px;
            }
        }

        .slider {
            .picture {
                width: 100%;
                object-fit: cover;
            }
        }

        .video {
            .picture {
                width: 100%;
                object-fit: cover;
            }
        }
    }
}
