html,
body {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: Monument, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
}
p {
  margin: 0px;
  color: black;
}
@font-face {
  font-family: "Monument";
  src: url("/fonts/MonumentExtended-Regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: "Monument-Bold";
  src: url("/fonts/MonumentExtended-Ultrabold.otf");
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.section {
  margin-bottom: 50px;
  span {
    display: block;
  }
}

.leftSpaces,
.rightSpaces {
  display: flex;
}

.leftSpaces {
  margin-right: 30px;
}

.space {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: red;
  flex-shrink: 0;
}
